name: md to pdf

on:
  push:

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v5
      - uses: actions/setup-node@v6
      - run: npx md-to-pdf README.md
      - uses: actions/upload-artifact@v6
        with:
          path: README.pdf
